.flex-container {
  display: flex;
  flex-direction: column;
  /* flex-direction: column-reverse; */
  /* flex-direction: row; */
  /* justify-content: center;
  justify-content: flex-end;
  justify-content: flex-start;
  justify-content: space-around;*/
  justify-content: space-between;
  /*justify-content: space-evenly; */
  /* align-items: flex-end;
  align-items: flex-start;
  align-items: baseline;
  align-items: stretch;*/
  align-items: center;
  height: 600px;
  width: 800px;
  /* align-self: stretch;
  align-self: baseline; */
  /* flex-wrap: wrap; */
  /*flex-wrap: nowrap;
  flex-wrap: wrap-reverse; */
  /* flex-flow: column-wrap; */
  /* align-content: flex-start;
  align-content: flex-end;
  align-content: center;
  align-content: space-between;
  align-content: space-around;
  align-content: stretch; */

}

.flex-item1 {
  height: 150px;
  width: 125px;
  background-color: green;
  
}

.flex-item2 {
  height: 100px;
  width: 170px;
  background-color: yellow;
}

.flex-item3 {
  height: 150px;
  width: 170px;
  background-color: red;
}

.flex-item4 {
  height: 150px;
  width: 230px;
  background-color: blue;
}

#one {
  color: #ffffff;
  text-align: center;
  padding-top: 30%;
}

#two {
  color: #ffffff;
  text-align: center;
  padding-top: 7%;
}

#three {
  color: #ffffff;
  text-align: center;
  padding-top: 20%;
}

#four {
  color: #ffffff;
  text-align: center;
  padding-top: 15%;
}