:root {
  --primary-color: rgb(229, 23, 126);
  --secondary-color: rgb(255, 118, 17);
  --dark-color: rgb(132, 13, 75);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-color);
}

.card {
  max-width: 450px;
  margin-top: 80px;
  margin-left: 500px;
  overflow: auto;
}

.showcase {
  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: 5px;
}

.text-style {
  margin-left: 20px;
  color: var(--dark-color);
  font-weight: bold;
}

.card form input {
  width: 90%;
  height: 50px;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

#form-group {
 padding-top: 20px;
}

#register {
  width: 50%;
  margin: auto;
  margin-top: 15px;
  font-size: 18px;
  background-color: var(--secondary-color); 
  height: 50px;
  color: #fff;
  line-height: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}

#register:hover {
  transform: scale(.9);
}